<meta http-equiv="refresh" content="150;url=http://127.0.0.1:3000/plans">

<h1>Dosimetry Matrix</h1>



<table>
  <tr>
	<th class="even"><font style="font-weight:normal">&Delta;T since loaded</font></th>
    <th>Loaded</th>
    <th class="even">Need Contours</th>
    <th>Need Plan</th>
    <th class="even">Need Approval</th>
    <th>Need Finalizing</th>
    <th class="even">Finalized</th>
  </tr>

<% @plans.each do |plan| %>
<% @identifier = "<b><span style=\"font-size:9pt\">#{plan.lastname[0..11]} #{plan.firstname[0]}</span></b> <br /><span style=\"font-size:8pt\">#{plan.target[0..20]}</span><br />" + "<span style=\"font-size:8pt\">#{plan.timestring}</span>" %>
<% @days = ((Time.now - plan.when_loaded) / 24.hour).floor %>
<% @hours = (((Time.now - plan.when_loaded) / 1.hour) % 24).floor %>
  <tr>
	<td class="even">
		<%= @days > 0 ? (@days > 1 ? "#{@days} days " : "#{@days} day ") : nil -%>
		<%= @hours == 1 ? "#{@hours} hr" : "#{@hours} hrs" -%>
	</td>
    <td><%= link_to raw(@identifier), plan if plan.status == 'Loaded' %></td>
	<td class="even"><%= link_to raw(@identifier), plan if plan.status == 'Needs Contours' %></td>
	<td><%= link_to raw(@identifier), plan if plan.status == 'Needs Plan' %></td>
	<td class="even"><%= link_to raw(@identifier), plan if plan.status == 'Needs Approval' %></td>
	<td><%= link_to raw(@identifier), plan if plan.status == 'Needs Finalizing' %></td>
	<td class="even"><%= link_to raw(@identifier), plan if plan.status == 'Finalized' %></td>
    <% link_to 'Edit', edit_plan_path(plan) %>
    <% link_to 'Destroy', plan, confirm: 'Are you sure?', method: :delete %>
  </tr>
<% end %>
</table>

<div class="upcoming">
	<h3> Upcoming plans... </h3><br />
	<% @plans_upcoming.each do |plan| %>
		<% if plan.status == 'Upcoming' %>
			<%= link_to raw("<b>#{plan.lastname} #{plan.firstname[0]}</b> (#{plan.target})"), plan %> <br />
		<% end %>
	<% end %>
	<br /><br />
	<%= link_to 'New Plan', new_plan_path %>
</div>

