<meta http-equiv="refresh" content="150;url=http://10.120.3.134:3000">

<h1>Dosimetry Matrix</h1>

<table>
  <tr>
	<th class="even"><font style="font-weight:normal">&Delta;T since 1<sup>st</sup> record</font></th>
    <th>Needs Records Review</th>
		<th class="even">Waiting for Consult</th>
    <th>Waiting for Setup</th>
    <th class="even">Needs Dosimetry Prep</th>
    <th>Needs MD Contours</th>
    <th class="even">Needs Plan</th>
    <th>Needs Approval</th>
    <th class="even">Needs Finalizing</th>
    <th>Ready for Treatment</th>
    <th class="even">In Treatment</th>
    <th>Finished Treatment</th>
  </tr>

<% @plans.each do |plan| %>
<% @identifier = "<b><span style=\"font-size:9pt\">#{plan.lastname[0..11]} #{plan.firstname[0]}</span></b> <br /><span style=\"font-size:8pt\">#{plan.target[0..20]}</span><br />" + "<span style=\"font-size:8pt\">#{plan.timestring}</span>" %>
<% @days = ((Time.now - plan.when_needs_image_review) / 24.hour).floor %>
<% @hours = (((Time.now - plan.when_needs_image_review) / 1.hour) % 24).floor %>
  <tr>
	<td class="even">
		<%= @days > 0 ? (@days > 1 ? "#{@days} days " : "#{@days} day ") : nil -%>
		<%= @hours == 1 ? "#{@hours} hr" : "#{@hours} hrs" -%>
	</td>
  <td><%= link_to raw(@identifier), plan if plan.status == 'Needs Records Review' %></td>
  <td class="even"><%= link_to raw(@identifier), plan if plan.status == 'Waiting for Consult' %></td>
	<td><%= link_to raw(@identifier), plan if plan.status == 'Waiting for Setup' %></td>
	<td class="even"><%= link_to raw(@identifier), plan if plan.status == 'Needs Dosimetry Prep' %></td>
	<td><%= link_to raw(@identifier), plan if plan.status == 'Needs MD Contours' %></td>
	<td class="even"><%= link_to raw(@identifier), plan if plan.status == 'Needs Plan' %></td>
	<td><%= link_to raw(@identifier), plan if plan.status == 'Needs Approval' %></td>
	<td class="even"><%= link_to raw(@identifier), plan if plan.status == 'Needs Finalizing' %></td>
	<td><%= link_to raw(@identifier), plan if plan.status == 'Ready for Treatment' %></td>
	<td class="even"><%= link_to raw(@identifier), plan if plan.status == 'In Treatment' %></td>
	<td><%= link_to raw(@identifier), plan if plan.status == 'Finished Treatment' %></td>
  </tr>
<% end %>
</table>

<div class="upcoming">
	<h3> Potentially upcoming... </h3><br />
	<% @plans_upcoming.each do |plan| %>
		<% if plan.status == 'Upcoming' %>
			<%= link_to raw("<b>#{plan.lastname} #{plan.firstname[0]}</b> (#{plan.target})"), plan %> <br />
		<% end %>
	<% end %>
	<br /><br />
	<%= link_to 'New Plan', new_plan_path %>
</div>

