<meta http-equiv="refresh" content="150;url=http://10.120.3.134:3000/indexchoice">

<center>
<div style="padding: 40px;color: black">
<span style="font-size:40px;color:blue">BMatrix</span> / 
<%= link_to("BTasks", '10.120.3.134/~brt/btasks', :class => "choicetitle") %>
</div>
</center>

<center>
<% if @plans_needsMDContours.count == 0 %>
	<div class="choicebuttonInactive">
		MD Contours Complete <br />
		&#9786; &#9786; &#9786;
	</div>
<% else %>
	<%= link_to needsMDContours_path, :style => 'text-decoration:none' do %>
		<div class=<%= @overdue_needsMDContours ? raw('"choicebuttonOverdue"') : raw('"choicebuttonCurrent"') -%> style="align:top">
			Need MD Contours (<%= @plans_needsMDContours.count -%>) <br />
			<% if @lkm_needsMDContours > 0 %>
				<div class="badMD"><%= @lkm_needsMDContours -%> LKM</div>
			<% end %>
			<% if @cks_needsMDContours > 0 %>
				<div class="badMD"><%= @cks_needsMDContours -%> CKS</div>
			<% end %>
			<% if @other_needsMDContours > 0 %>
				<div class="badMD"><%= @other_needsMDContours -%> Other</div>
			<% end %>
		</div>
	<% end %>
<% end %>

<% if @plans_needsApproval.count == 0 %>
	<div class="choicebuttonInactive" style="align:top">
		Approvals Complete <br />
		&#9786; &#9786; &#9786;
	</div>
<% else %>
	<%= link_to needsApproval_path, :style => 'text-decoration:none' do %>
		<div class=<%= @overdue_needsApproval ? raw('"choicebuttonOverdue"') : raw('"choicebuttonCurrent"') -%>>
			Need Approval (<%= @plans_needsApproval.count -%>) <br />
			<% if @lkm_needsApproval > 0 %>
				<div class="badMD"><%= @lkm_needsApproval -%> LKM</div>
			<% end %>
			<% if @cks_needsApproval > 0 %>
				<div class="badMD"><%= @cks_needsApproval -%> CKS</div>
			<% end %>
			<% if @other_needsApproval > 0 %>
				<div class="badMD"><%= @other_needsApproval -%> Other</div>
			<% end %>
		</div>
	<% end %>
<% end %>
</center>





<% status_list = ['Needs Records Review', 'Waiting for Consult', 
	'Waiting for Setup', 'Needs Dosimetry Prep', 'Needs MD Contours', 
	'Needs Plan', 'Needs Approval', 'Needs Finalizing', 'Ready for Treatment',
	'In Treatment','Finished Treatment'] %>
	
<% status_list.each do |status| %>


	<div class="flowstatus"><%= status -%></div>

	<% @plans.each do |plan| %>
		<% if plan.status == status %>
			<% @identifier = "#{plan.lastname[0..20]} #{plan.firstname[0]} (#{plan.target[0..30]})" %>
			
			<% @days = ((Time.now - plan.when_upcoming) / 24.hour).floor %>
			<% @hours = (((Time.now - plan.when_upcoming) / 1.hour) % 24).floor %>
			
			<div class="flowitem">
				<div class="totaltime">[
					<%= @days > 0 ? (@days > 1 ? "#{@days} days " : "#{@days} day ") : nil -%>
					<%= @hours == 1 ? "#{@hours} hr" : "#{@hours} hrs" -%>
					]
				</div>
				<div class="timestring"><%= raw("#{plan.timestring}") -%></div>
				<div class="modality"><%= plan.modality ? raw(plan.modality.downcase[0..11]) : "" -%></div>
				<div class="attending_md"><%= plan.attending_md ? raw(plan.attending_md.upcase[0..3]) : "" -%></div>
				<div class="identifier"><%= link_to raw(@identifier), plan -%></div>
				<div class="notes"><i><%= plan.notes ? raw(plan.notes[0..50]) : "" -%></i></div>
			</div>

		<% end %>
	<% end %>

	<% end %>
			<div class="upcoming">
				<div class="flowstatus" style="margin-top: 20px; margin-bottom:30px">Potentially upcoming...</div>
				<%= link_to 'New plan...', new_plan_path %>
				<br /><br />
				<% @plans_upcoming.each do |plan| %>
						<% @identifier = "#{plan.lastname[0..20]} #{plan.firstname[0]} (#{plan.target[0..30]})" %>
						<div class="identifier"><%= link_to raw(@identifier), plan -%></div><br />
				<% end %>
			</div>


