<h1>New plan</h1>

<div class="newplan">
<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="show">
		<div class="name">
			<div class="label">Attending MD</div>
			<div class="enter"><%= f.text_field :attending_md, :size => 30 -%></div>
		</div>
	<div class="name">
		<div class="label">First name</div><div class="enter"><%= f.text_field :firstname, :size => 50 %></div>
	</div>
	<div class="name">
		<div class="label">Last name</div><div class="enter"><%= f.text_field :lastname, :size => 50 %></div>
	</div>
	<div class="name">
		<div class="label">Target</div><div class="enter"><%= f.text_field :target, :size => 50 %></div>
	</div>
	
	<div class="comment" style="padding-bottom:25px">
			<%= f.label 'Comments' %> <br />
			<%= text_area_tag :comment, nil, :cols => 100, :rows => 4 %>
		</div>
		

  	<div class="actions">
    	<%= f.submit "Submit as potentially upcoming" %>
  	</div>
<% end %>

</div>


