<p id="notice"><%= notice %></p>

<p>
  <b>Target:</b>
  <%= @plan.target %>
</p>

<p>
  <b>Lastname:</b>
  <%= @plan.lastname %>
</p>

<p>
  <b>Firstname:</b>
  <%= @plan.firstname %>
</p>

<p>
  <b>Status:</b>
  <%= @plan.status %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
