<p id="notice"><%= notice %></p>

<%= link_to '< Back', plans_path %>

<div class="show">
	<div class="name"><%= "#{@plan.lastname}, #{@plan.firstname}" -%></div>
	<div class="target"><%= "#{@plan.target}" -%></div>
</div>

<%= form_for(@plan) do |f| %>
	<% if @plan.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      		<ul>
      		<% @plan.errors.full_messages.each do |msg| %>
        		<li><%= msg %></li>
      		<% end %>
      		</ul>
    	</div>
  	<% end %>

		<div class="attending">
			<span class="label">Attending MD:&nbsp;&nbsp;</span>
			<span class="enter"><%= f.text_field :attending_md, :size => 30 %></span>
		</div>


  	<div class="modifications">
	
			<div class="statustitle"><%= @plan.status -%></div>
			

	
			<% status_list = ['Upcoming', 'Needs Records Review', 'Waiting for Consult', 
				'Waiting for Setup', 'Needs Dosimetry Prep', 'Needs MD Contours', 
				'Needs Plan', 'Needs Approval', 'Needs Finalizing', 'Ready for Treatment', 'In Treatment',
				'Finished Treatment'] %>
			
			<% count = 0 %>
			<% status_list.each do |s| %>
			
			<% if @plan.status == s %>
			
				<% if count > 0 %>
					<%= radio_button_tag :status, status_list[count-1], false %>
					<div class="radiotext"> Revert back to "<%= "#{status_list[count-1]}" -%>" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<% end %>
			
				<%= radio_button_tag :status, status_list[count], true %>
				<div class="radiotext"> Status unchanged &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

				<% if count < status_list.size-1 %>
					<%= radio_button_tag :status, status_list[count+1], false %>
					<div class="radiotext"> Move forward to "<%= "#{status_list[count+1]}" -%>"</div>
				<% end %>
				
			<% end %>
			
			<% count = count + 1 %>

			<% end %>

  		<div class="comment">
  			<%= f.label 'Comment' %> <br />
  			<%= text_area_tag :comment, nil, :cols => 100, :rows => 4 %>
  		</div>

  		<div class="submit">
  			<%= submit_tag 'Submit changes and comments' %>
  		</div>

		<div class="deactivate">
			<div class="deactivateText">
				<%= link_to "x deactivate", deactivate_url, 
				:confirm => "Really deactivate this plan?  Plan will be removed PERMANENTLY!!", :class => "deactivateLink" %>
			</div>
		</div>

  	</div>
<% end %>

<div class="commentList">
	<% @comments.each do |comment| %>
		<div class="commentItself">
			<div class="timeSent">
				<i><%= comment.created_at.in_time_zone("Mountain Time (US & Canada)").strftime("%a %b %d %I:%m %p") -%></i>
			</div>
			<div class="commentContent"><%= simple_format comment.content -%></div>
		</div>
	<% end %>
</div>
	
