<p id="notice"><%= notice %></p>

<%= link_to '< Back', plans_path %>

<div class="show">
	<div class="name"><%= "#{@plan.lastname}, #{@plan.firstname}" -%></div>
	<div class="target"><%= "#{@plan.target}" -%></div>
</div>

<%= form_for(@plan) do |f| %>
	<% if @plan.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      		<ul>
      		<% @plan.errors.full_messages.each do |msg| %>
        		<li><%= msg %></li>
      		<% end %>
      		</ul>
    	</div>
  	<% end %>

  	<div class="modifications">
	
		<div class="people">
			<div class="attending">
  				<div class="label">Creekside Attending</div>
				<div class="enter"><%= f.select(:attending, Plan::ATTENDING, :selected => @plan.attending) %></div>
			</div>
			<div class="maillist">
				<div class="label">Mailing list (comma-separated)</div>
				<div class="enter"><%= f.text_area :maillist, :cols => 80, :rows => 3 -%></div>
			</div>
			<div style="clear:both"></div>
		</div>

  		<% if @plan.status == "Upcoming" %>
  			<%= radio_button_tag :status, "nochange", true %> 
			<div class="radiotext"> Plan is still upcoming </div><br /><br />
    		<%= radio_button_tag :status, "Loaded", false %>
			<div class="radiotext"> Patient scans for this plan have been uploaded into CDMS </div>
  		<% end %>

  		<% if @plan.status == "Loaded" %>
  			<%= radio_button_tag :status, "nochange", true %> 
			<div class="radiotext"> Scans are not yet ready for contouring </div><br /><br />
    		<%= radio_button_tag :status, "Needs Contours", false %>
			<div class="radiotext"> Scans are fused (if applicable) and ready for contouring</div>
  		<% end %>

  		<% if @plan.status == "Needs Contours" %>
  			<%= radio_button_tag :status, "nochange", true %> 
			<div class="radiotext"> Contouring is still in progress </div><br /><br />
    		<%= radio_button_tag :status, "Needs Plan", false %>
			<div class="radiotext"> Contours are finished and ready for planning</div>
  		<% end %>

  		<% if @plan.status == "Needs Plan" %>
  			<%= radio_button_tag :status, "nochange", true %> 
			<div class="radiotext"> Planing is still in progress </div><br /><br />
    		<%= radio_button_tag :status, "Needs Approval", false %>
			<div class="radiotext"> Plan is finished and ready for review / approval</div>
  		<% end %>

  		<% if @plan.status == "Needs Approval" %>
  			<%= radio_button_tag :status, "nochange", true %> 
			<div class="radiotext"> Plan review is still in progress </div><br /><br />
			<%= radio_button_tag :status, "Needs Plan", false %> 
			<div class="radiotext"> Plan is not approved; <i>re-planning needed</i></div><br /><br />
    		<%= radio_button_tag :status, "Needs Finalizing", false %>
			<div class="radiotext"> Plan is approved and ready to be finalized</div>
 		<% end %>

  		<% if @plan.status == "Needs Finalizing" %>
  			<%= radio_button_tag :status, "nochange", true %> 
			<div class="radiotext"> Finalizing still in progress </div><br /><br />
			<%= radio_button_tag :status, "Needs Approval", false %> 
			<div class="radiotext"> Problems discovered requiring minor revisions; <i>re-approval needed</i></div><br /><br />
			<%= radio_button_tag :status, "Needs Plan", false %> 
			<div class="radiotext"> Problems discovered requiring significant revisions; <i>re-planning needed</i></div><br /><br />
    		<%= radio_button_tag :status, "Finalized", false %>
			<div class="radiotext"> Plan is finalized and ready for treatment</div>
  		<% end %>

  		<% if @plan.status == "Finalized" %>
			<b>Plan is finalized and ready for treatment.</b><br /><br />
  		<% end %>

  		<div class="comment">
  			<%= f.label 'Comment' %> <br />
  			<%= text_area_tag :comment, nil, :cols => 110, :rows => 4 %>
  		</div>

  		<div class="submit">
  			<%= submit_tag 'Submit changes and comments' %>
  		</div>

		<div class="deactivate">
			<div class="deactivateText">
				<%= link_to "x deactivate", deactivate_url, 
				:confirm => "Really deactivate this plan?  Plan will be removed PERMANENTLY!!", :class => "deactivateLink" %>
			</div>
		</div>

  	</div>
<% end %>

<div class="commentList">
	<% @comments.each do |comment| %>
		<div class="commentItself">
			<div class="timeSent">
				<i><%= comment.created_at.in_time_zone("Mountain Time (US & Canada)").strftime("%a %b %d %I:%m %p") -%></i>
			</div>
			<div class="commentContent"><%= comment.content -%></div>
		</div>
	<% end %>
</div>
	
