<!DOCTYPE html>
<html>
<head>
  <title>Bmatrix</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="icon" type="image/x-ico" href="/favicon.png" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body <%= @mdview_toggle == true ? raw('style="background-color: black"') : '' -%> >

<%= yield %>

</body>
</html>
